@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header, .category-list {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.navbar :where(.nav-section, .search-form, .nav-logo) {
    display: flex;
    align-items: center;
}

.navbar .nav-section {
    gap: 1rem;
}

.navbar :where(.logo-image, .user-image) {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
} 

.navbar .nav-button {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-button:hover {
    background-color: #f2f2f2;
}

.navbar .nav-button i {
    font-size: 1.5rem;
    color: #030303;
}

.navbar .nav-logo {
    gap: 0.5rem;
    text-decoration: none;
}

.navbar .nav-logo .logo-text {
    font-size: 1.25rem;
    color: black;
    letter-spacing: -1px;
}

.navbar .nav-center {
    flex: 1;
    max-width: 720px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar .search-form {
    flex: 1;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    overflow: hidden;
}

.navbar .search-form .search-input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    outline: none;
    font-size: 1rem;
    border: none;
}

.navbar .search-form .search-button {
    width: 64px;
    height: 100%;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    border-radius: 0;
}

.main-layout {
    display: flex;
    overflow-y: auto;
}

.main-layout .sidebar {
    width: 280px;
    padding: 0 0.7rem 0;
    background: white;
}

body.sidebar-hidden .main-layout .sidebar{
    width: 0;
    padding: 0;
}

.sidebar .link-container {
    overflow-y: auto;
    padding: 1rem 0 2rem;
    scrollbar-width: thin;
    height: calc(100vh - 60px);
    scrollbar-color:  transparent transparent;
}

.sidebar .link-container:hover {
    scrollbar-color:  #a6a6a6 transparent;
}

.sidebar .section-saperator {
    height: 1px;
    margin: 0.625rem 0;
    background: gray;
}

.sidebar .link-section .link-item {
    display: flex;
    align-items: center;
    font-size: 0.938rem;
    white-space: nowrap;
    padding: 0.37rem 0.75rem;
    margin-bottom: 0.25rem;
    color: black;
    border-radius: 0.5rem;
    background: white;
    text-decoration: none;
}

.sidebar .link-section .link-item:hover {
    background: lightgray;
}

.sidebar .link-section .link-item i {
    font-size: 1.5rem;
    margin-right: 0.63rem;
}

.sidebar .link-section .section-title {
    font-size: 0.938rem;
    font-weight: 600;
    color: black;
    margin: 1rem 0 0.5rem 0.5rem;
}

.sidebar {
    width: 240px;
    padding: 1rem;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
}

.main-layout .content-wrapper {
    flex: 1;
    padding: 0 1rem;
    overflow-x: hidden;
}

.category-list {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding: 0.75rem 0;
    scrollbar-width: none;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-list .category-button:active{
    color: white;
    background: black;
    pointer-events: none;
}

.category-list .category-button:hover{
    background: gray;
}

.category-button {
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    background: #f2f2f2;
    transition: 0.2s;
}

.category-button:hover {
    background: #e5e5e5;
}

.category-button.active {
    background: #030303;
    color: white;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem 1rem;
    padding-top: 1rem;
}

.video-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.thumbnail-container {
    position: relative;
    width: 100%;
}

.thumbnail {
    width: 100%;
    border-radius: 0.75rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background: #ccc;
}

.duration {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
}

.video-info {
    display: flex;
    gap: 0.75rem;
    padding: 0.75rem 0;
}

.video-info .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.video-details .title {
    font-size: 1rem;
    font-weight: 600;
    color: #030303;
    margin-bottom: 0.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-details p {
    font-size: 0.875rem;
    color: #606060;
}

.video-details .channel-name {
    margin-bottom: 0.1rem;
}

.content-wrapper .video-list{
    display: grid;
    gap: 1rem;
    padding: 1.25rem 0 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.video-list .video-card .title:hover {
    color: rgb(162, 215, 236);
}